    body {
      font-family: Arial, sans-serif;
      background: #f4f6f8;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .product-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .card {
      background: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
     transition: 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit:contain;
    }

    .title {
      font-size: 14px;
      margin: 10px 0;
      height: 40px;
      overflow: hidden;
    }

    .price {
      font-weight: bold;
      color: green;
      margin-bottom: 10px;
    }

    .btn:hover {
      background: #084298;
    }
    .btn-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
  padding: 8px 12px;
  border: none;
  background: #0d6efd;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.buy-btn {
  background: #29dd89;
}
