 body {
   background-color: blue;
   font-family: Arial, sans-serif;
 }

 .mainbox {
   margin-top: 80px;
   background: white;
   padding: 30px 40px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

 input[type="text"] {
   border: none;
   border-bottom: 1px solid rgb(54, 53, 53);
   outline: none;
   padding: 10px;
   font-size: 14px;
   width: 250px;
   margin-top: 20px;
   display: block;
 }


 .options {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 25px;
   font-size: 15px;
 }

 .remeb input {
   margin-right: 5px;
 }

 a {
   text-decoration: none;
   color: royalblue;
 }

 a:hover {
   text-decoration: underline;
 }

 .btn {
   width: 100%;
   height: 30px;
   background-color: blue;
   color: white;
   border: none;
   cursor: pointer;
   margin-top: 15px;
   border-radius: 5px;
 }

 .btn:hover {
   background-color: cornflowerblue;
   color: chocolate;

 }

 .name {
   display: flex;
 }

 .bt {
   display: flex;
 }

 span {
   border: none;
   border-bottom: 1px solid rgb(54, 53, 53);
   padding: 9px;
   margin-top: 14.5px;
   display: block;
 }

 .heading {
   display: flex;
 }

 .n {

   border: none;
   border-bottom: 1px solid rgb(54, 53, 53);
   padding: 9px;
   margin-top: 15px;
   display: block;

 }

 .h {
   height: 21px;
 }

 hr {
   color: blue;
   border: 2px solid blue;
 }

 h1 u {
   color: blue;
 }

 .mral span {
   margin-bottom: 2px;

 }

 .options a {
   text-decoration: none;
 }

 .comfirm {
   width: 230px;
 }

 .remeb {
   padding-left: 8px;
 }
 .section {
  display: flex;
  column-gap: 20px;
  margin-left: 350px;
 }
 .conc input {
  border: none;
  outline: none;
 }