* body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.mainDiv {
    width: 95%;
    display: flex;
    height: 1500px;
    background: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    
}



.leftide {
    width: 20%;
    background-color: rgb(47, 47, 70);
    height: 1500px;

    color: white;
}

.rightside {
    width: 75%;
    height: 1500px;
    background-color: gray;
    padding-left: 20px;
}

h1 {
    color: rgb(47, 47, 70);
    ;
}

.comp h2 {
    color: blue;
    height: 1px;

}

.sec2 h2 {
    color: rgb(57, 57, 177);
    height: 1px;
}

.expresec {
    margin: 20px auto;
    padding-left: 20px;
}

.dividesec {
    display: flex;
}

.sec1 {
    width: 45%;
    height: 100px;
}

.sec2 {
    width: 45%;
    height: 100px;
    display: inline-block;
}

.img img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
}

.nameinfo {
    color: rgb(169, 202, 169);
    padding-left: 100px;
}

.Designation {
    color: rgba(179, 157, 183, 0.195);
    padding-left: 80px;
}

.ur {
    width: 70%;
    color: black; 
    
}
.soft {
    padding-left: 66px;
    color: rgb(233, 233, 104);
}

.info ul li {
    list-style-type: none;
    font-size: small;
}

.perinfoma ul li {
    list-style-type: none;
    font-size: small;

}

h3 {
    padding-left: 73px;
}
.headi {
    padding-left: 42px;
}
.headi ul li {
    color: antiquewhite;
}
h2 {
    color: blue;
}
.sam {
    padding-left: 42px;
    color: rgb(233, 233, 104);
}
.dam {
    padding-left: 42px;
}