

#maindiv {
    width: 700px;
    height: 700px;
    border: 1px solid blue;
    background-color: aqua;
   display: grid;
   grid-template-columns: 100px 100px 100px 100px;
   justify-items: center;
   gap: 20px;
}
.subdiv {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: beige;



}