#d1 {
    width: 500px;
    height: 100;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 5px 5px 10px;
}
#d2 {
    width: 500px;
    height: 100;
    border: 5px;
    border: 5px solid black;
    margin: 20px;
    box-shadow: 10px 5px 5px 10px;
}