#dabba {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: lightgreen;
  border: 1px solid black;
  animation: abs 4s linear infinite;
}

@keyframes abs {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 500px;
  }
  50% {
    top: 500px;
    left: 500px;
  }
  75% {
    top: 500px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
