body {
    padding: 0;
    margin: 0;

}

.search-box {
background: #f8f8f8;
padding: 10px 20px;
border-radius: 25px;
}
.icon-circle {
width: 60px;
height: 60px;
background: #f5f5f5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-left: 10px;
}
.header {
    
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    
    
}

.card img {
  height:34px;
  width: 103px;
  object-fit: contain; 
  margin: 0 auto;
  border-radius: 20px;     
}
.category-img {
  width: 80px;   
  height: 80px;
  object-fit: contain;  
  margin: 0 auto;       
  display: block;
}
.card-img-top {
    height: 150px;
    width: 150px;
}




.brand-card {
      border: none;
      border-radius: 20px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.08);
      transition: transform 0.3s ease;
      background: #fff;
    }
    .brand-card:hover {
      transform: translateY(-4px);
    }
    .brand-img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
    }
    .arrow-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: #f4f4f4;
      font-size: 18px;
      font-weight: bold;
    }
     .product-card {
      border: none;
      border-radius: 15px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      transition: all 0.3s ease;
    }
    .product-card:hover {
      transform: translateY(-5px);
    }
    .discount-badge {
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: #8cc63f;
      color: white;
      font-weight: 600;
      border-radius: 5px;
      padding: 3px 8px;
      font-size: 14px;
    }
    .wishlist-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      background: white;
      border-radius: 50%;
      padding: 5px;
      font-size: 20px;
    }
    .rating {
      color: #ffc107;
      font-weight: 600;
    }
    .qty-btn {
      width: 30px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: white;
    }
    .pink-bg {
        background-color:pink; 
        background-image: url('./product-thumb-12.jpg');
        background-size: cover;
        background-position: end;
        border-radius: 20px;
        color: #000;
        padding: 40px;
      }

      .creamy-bg {
        background-color: coral;
        background-image:url("./product-thumb-13.jpg");
        background-size: cover;
        background-position: end;
        border-radius: 20px;
        color: #000;
        padding: 40px;
      }
      .teel {
        color: gray;
      }
      .b {
        background-color: rgb(37, 150, 190);
      }
      .dis {
        color: orange;
      }
      .banaer {
        margin-top: 10px;
        background-color:#a9cfde;
        height: 650px;
      }
      .phone {
        background-color: rgb(227, 219, 220);
        height: 500px;
        margin-top: 150PX;
      }